In [3]:
list1 = [1,2,3,4,5,]

In [4]:
for num in list1:
    print(num)

1
2
3
4
5

In [5]:
10%6

4

In [6]:
17%8

1

In [7]:
8%2

0

In [8]:
#printing even numbers in the list
for num in list1:
    if num % 2 == 0:
        print(num)

2
4

In [9]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Not an even number')

Not an even number
2
Not an even number
4
Not an even number

In [10]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

15

In [11]:
# Start sum at zero
list_sum = 0

for num in list1:
    list_sum += num

print(list_sum)

15

In [13]:
for letters in "I'm Dhanya Sree.S ":
    print(letters)

I
'
m

D
h
a
n
y
a

S
r
e
e
.
S

In [14]:
tup = (1,2,3,4,5,6,7,8)

for num in tup:
    print(num)

1
2
3
4
5
6
7
8

In [15]:
list2 = [(1,4),(2,8),(3,12),(4,16)]

In [18]:
for tup in list2:
    print (tup)

(1, 4)
(2, 8)
(3, 12)
(4, 16)

In [19]:
for (t1,t2) in list2:
    print(t1)
    print(t2)

1
4
2
8
3
12
4
16

In [20]:
for (t1,t2) in list2:
    print(t1)

1
2
3
4

In [21]:
for (t1,t2) in list2:
    print(t2)

4
8
12
16

In [31]:
dict = {'k1':'a','k2':'b','k3':'c','k4':'d'}

In [32]:
for item in dict:
  print(item)

k1
k2
k3
k4

In [33]:
dict.items()

dict_items([('k1', 'a'), ('k2', 'b'), ('k3', 'c'), ('k4', 'd')])

In [36]:
for d1,d2 in d.items():
  print(d1)
  print(d2)

k1
a
k2
b
k3
c
k4
d

In [37]:
list(dict.keys())

['k1', 'k2', 'k3', 'k4']

In [38]:
sorted(dict.values())

['a', 'b', 'c', 'd']