In [1]:
#creating a string
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'I am dhanya'

'I am dhanya'

In [3]:
# We can also use double quote
"String can built with double quotes"

'String can built with double quotes'

In [4]:
#combinations of double and single quotes
"Now we'll see the correct syntax without an error"

"Now we'll see the correct syntax without an error"

In [5]:
#printing strings
print('Dhanya')

Dhanya

In [7]:
print('hi')
print('hello')
print('how are you?')
print('who is \n you friend?')
print('\n')
print('sakshi and raghav are my friends')
print('\n')
print("you're doing great")

hi
hello
how are you?
who is
 you friend?


sakshi and raghav are my friends


you're doing great

In [8]:
#len() to check the length of a string!

len("I'm fine")

8

In [9]:
# Assign s as a string
s = 'Hello dhanya'

In [10]:
s

'Hello dhanya'

In [11]:
# Print the object
print(s)

Hello dhanya

In [12]:
# Show first element (in this case a letter)
s[0]

'H'

In [13]:
s[1]

'e'

In [14]:
s[4]

'o'

In [15]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello dhanya'

In [16]:
# Note that there is no change to the original s
s

'Hello dhanya'

In [18]:
# Grab everything UP TO the 4th index
s[:4]

'Hell'

In [19]:
#Everything
s[:]

'Hello dhanya'

In [20]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'a'

In [22]:
s[-3]

'n'

In [23]:
# Grab everything but the last letter
s[:-1]

'Hello dhany'

In [24]:
s[:-3]

'Hello dha'

In [25]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello dhanya'

In [26]:
# Grab everything, but go in step sizes of 2
s[::2]

'Hloday'

In [27]:
# Grab everything, but go in step sizes of 2
s[::4]

'Hoa'

In [28]:
# We can use this to print a string backwards
s[::-1]

'aynahd olleH'

In [29]:
s

'Hello dhanya'

In [30]:
# Let's try to change the third letter to 'x'
s[2] = 'x'

TypeError: 'str' object does not support item assignment

In [31]:
s

'Hello dhanya'

In [32]:
# Concatenate strings!
s + ' & Madhu'

'Hello dhanya & Madhu'

In [33]:
# We can reassign s completely though!
s = s + ' & Sakshi!'

In [34]:
print(s)

Hello dhanya & Sakshi!

In [35]:
#We can use the multiplication symbol to create repetition!
letter = 'n'

In [36]:
letter*12

'nnnnnnnnnnnn'

In [42]:
#Basic Built-in String methods
s

'Hello dhanya & Sakshi!'

In [38]:
# Upper Case a string
s.upper()

'HELLO DHANYA & SAKSHI!'

In [39]:
# Lower case
s.lower()

'hello dhanya & sakshi!'

In [40]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'dhanya', '&', 'Sakshi!']

In [41]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello dhanya & Sakshi!']

In [43]:
s.replace('Sakshi','Kavi')

'Hello dhanya & Kavi!'

In [44]:
#Print Formatting
'Hello word: {}'.format("I'm busy")

"Hello word: I'm busy"