In [1]:
#Dynamic Typing
#we can reassign variables to different data types

my_relatives = 123

In [2]:
my_relatives

123

In [3]:
my_relatives = ["Anshu","Raju"]

In [4]:
my_relatives

['Anshu', 'Raju']

In [5]:
#Reassigning variables
a=5

In [6]:
a

5

In [7]:
a=6

In [8]:
a

6

In [9]:
a+a

12

In [10]:
a = a+5

In [11]:
a

11

In [12]:
a += 10

In [13]:
a

21

In [14]:
a -= 12

In [15]:
a

9

In [16]:
a *= 9

In [17]:
a

81

In [18]:
a /= 6

In [19]:
a

13.5

In [20]:
#type() returns datatype of a variable

type(a)

float

In [21]:
n = 2
type(n)

int

In [22]:
n = "dhanya"
type(n)

str

In [23]:
my_list = ["123","234","345","456"]
type(my_list)

list

In [24]:
n = (1,2,3,4,5,6,7,8)
type(n)

tuple

In [25]:
a= {'n1':'dhanya','n2':'sree','n3':'saravana'}
type(a)

dict

In [26]:
#area of circle
r = 2
pi = 3.14
area = pi * r * r

In [27]:
area

12.56